* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html,
body,
#root,
#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body {
    background-color: black;
    position: fixed;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
}

.count {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 42px;
    font-weight: 600;
    z-index: 99;
    color: white;
}