* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,
body,
#root,
#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body {
    background: radial-gradient(circle, #111, #333, black);
    position: fixed;
    cursor: crosshair;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
}

.count {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 42px;
    font-weight: 600;
    z-index: 99;
    color: white;
}

.gameOver {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba($color: black, $alpha: .8);
    cursor: auto;

    h1,
    h2,
    button {
        color: white;
        user-select: none;
    }

    h1 {
        font-size: calc(min(72px, 13vw));
        margin-bottom: 20px;
    }

    h2 {
        font-size: calc(min(32px, 6vw));
    }

    button {
        font-size: calc(min(20px, 8vw));
        font-weight: 600;
        background: transparent;
        padding: 10px 20px;
        border: 2px solid white;
        border-radius: 20px;
        outline: none;
        margin-top: 70px;
        transition: .3s ease;
        cursor: pointer;

        &:hover {
            background: white;
            color: black;
            mix-blend-mode: screen;
        }
    }
}